In [1]:
import mysql.connector
from datetime import datetime
import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.font_manager as fm
import mplcursors
import mplcursors

In [2]:
def get_table_names(host, user, password, database):
    try:
        # Establish a database connection
        conn = mysql.connector.connect(
            host=host,
            user=user,
            password=password,
            database=database
        )

        # Create a cursor object
        cursor = conn.cursor()

        # Execute a query to retrieve table names
        query = f"SELECT table_name FROM INFORMATION_SCHEMA.TABLES WHERE table_schema = '{database}'"
        cursor.execute(query)

        # Fetch all the rows
        tables = cursor.fetchall()

        # Print table names
        # for (table_name,) in tables:
        #     print(table_name)

    except mysql.connector.Error as error:
        print(f"Error: {error}")
    finally:
        if conn.is_connected():
            cursor.close()
            conn.close()
            return tables

In [3]:

def table_to_dataframe(host, user, password, database, table_name):
    try:
        # Establish a database connection
        conn = mysql.connector.connect(
            host=host,
            user=user,
            password=password,
            database=database
        )

        # Use backticks around the table name in the query
        query = f"SELECT * FROM `{table_name}`"

        # Use pandas to read the query into a DataFrame
        df = pd.read_sql(query, conn)

        return df

    except mysql.connector.Error as error:
        print(f"Error: {error}")
        return None
    finally:
        if conn.is_connected():
            conn.close()

In [5]:
databaseB = "B20240112"
password = '93150lbm!!'
tables = get_table_names('127.0.0.1', 'root', password, databaseB)

code = tables[0][0]
print(code)

000440

In [8]:
df = table_to_dataframe('127.0.0.1', 'root', password, databaseB, code)
df_sorted = df.sort_values(by='호가시간')
df_sorted

C:\Users\pari0\AppData\Local\Temp\ipykernel_52024\2032619350.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,id,호가시간,매도호가10,매도호가수량10,매도호가직전대비10,매도호가9,매도호가수량9,매도호가직전대비9,매도호가8,매도호가수량8,...,매수호가직전대비7,매수호가8,매수호가수량8,매수호가직전대비8,매수호가9,매수호가수량9,매수호가직전대비9,매수호가10,매수호가수량10,매수호가직전대비10
0,1,20240112 09:41:34.909415,+18900,774,+13,+18890,48,-13,+18880,95,...,0,+18670,152,0,+18660,186,0,+18650,714,0
3,4,20240112 09:41:36.493452,+18890,48,0,+18880,95,0,+18870,50,...,0,+18660,186,0,+18650,714,0,+18640,161,0
1,2,20240112 09:41:37.700144,+18890,48,0,+18880,95,0,+18870,50,...,0,+18660,186,0,+18650,714,0,+18640,161,0
2,3,20240112 09:41:37.896847,+18890,48,0,+18880,95,0,+18870,50,...,0,+18660,186,0,+18650,714,0,+18640,161,0
4,5,20240112 09:41:44.301586,+18890,48,0,+18880,95,0,+18870,50,...,0,+18660,186,0,+18650,714,0,+18640,161,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20144,20145,20240112 15:30:18.982169,-0,0,0,-0,0,0,-0,0,...,0,-0,0,0,-0,0,0,-0,0,0
20145,20146,20240112 15:30:20.376772,-0,0,0,-0,0,0,-0,0,...,0,-0,0,0,-0,0,0,-0,0,0
20146,20147,20240112 15:30:20.974844,-0,0,0,-0,0,0,-0,0,...,0,-0,0,0,-0,0,0,-0,0,0
20147,20148,20240112 15:30:21.583097,-0,0,0,-0,0,0,-0,0,...,0,-0,0,0,-0,0,0,-0,0,0
20148,20149,20240112 15:30:21.588140,-0,0,0,-0,0,0,-0,0,...,0,-0,0,0,-0,0,0,-0,0,0

In [9]:
## Ex 3-1. 창 띄우기.

import sys
from PyQt5.QtWidgets import QApplication, QWidget


class MyApp(QWidget):

    def __init__(self):
        super().__init__()
        self.initUI()

    def initUI(self):
        self.setWindowTitle('My First Application')
        self.move(300, 300)
        self.resize(400, 200)
        self.show()


if __name__ == '__main__':
   app = QApplication(sys.argv)
   ex = MyApp()
   sys.exit(app.exec_())

ModuleNotFoundError: No module named 'PyQt5'